{% extends 'base.html' %}

{% block title %}
Sign Up (i)
{% endblock %}

{% block content %}
	<h1>Events</h1>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul class="messages">
			{% for message in messages %}
				<li><p>! {{message}}</p></li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	{% for event in events %}
	<div class="box">
		<h2>{{ event['name'] }} ({{ event['id'] }})</h2>
		<p>{{ "Team" if event['team_event'] else "Individual" }} {{ event['type'] }}</p>
	</div>
	{% endfor %}
{% endblock %}
