body {
	font-family: sans-serif;
}

.box, form {
	display: grid;
	justify-self: center;
}

.box {
	max-width: max-content;
	background: #f1f1f1;
	margin-bottom: 2px;
	padding: 10px;
}

label, button {
	/* display: block; */
	margin: 5px 5px 0 0;
}

input, button {
	border: 1px black solid;
}

/* style for flashed messages. .messages is a <ul> */
.messages {
	padding-left: inherit;
}

.messages li {
	max-width: fit-content;
	padding: 0.5em;
	margin-bottom: 0.5em;
	list-style-type: none;
}

li.error {
	background: #ffd3d3;
	border-left: red solid 5px;
}

li.success {
	background: #d3ffd3;
	border-left: green solid 5px;
}

/* make tables nicer to read */
tr:nth-child(1) {
	/* alternating row background */
    background-color: #ededed;
}

th {
	font-weight: bold;
}
