{% extends 'base.html' %}

{% block title %}
Add a person
{% endblock %}

{% block content %}
	<h1>Sign up (individual)</h1>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul class="messages">
			{% for message in messages %}
				<li><p>! {{message}}</p></li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	<form class="box" action="/form/person" method="post">
		<label for="first_name">First name</label>
		<input type="text" id="first_name" name="first_name" />

		<label for="last_name">Last name</label>
		<input type="text" id="last_name" name="last_name" />

		<label for="team">Team (optional)</label>
		<select name="team" id="team">
			<option value="">No team</option>
			{% for team in teams %}
			<option value="{{ team.id }}">{{ team.name }}</option>
			{% endfor %}
		</select>
		<!-- todo: event entries -->
		<button>Done</button>
	</form>
{% endblock %}
