{% extends 'base.html' %}

{% block title %}
Add a person
{% endblock %}

{% block content %}
	<h1>Sign up (individual)</h1>
	{% include 'flashed_messages.html' %}
	<form class="box" action="/person/create" method="post">
		<label for="first_name">First name</label>
		<input type="text" id="first_name" name="first_name" />

		<label for="last_name">Last name</label>
		<input type="text" id="last_name" name="last_name" />

		<label for="team">Team (optional)</label>
		<select name="team" id="team">
			<option value="">No team</option>
			{% for team in teams %}
			<option value="{{ team.id }}">{{ team.name }}</option>
			{% endfor %}
		</select>
		
		<label>Choose events (max 5)</label>
		{% for event in events %}
		<div>
			<label for="{{ event.id }}">{{ event.name }}</label>
			<input type="checkbox" id="{{ event.id }}" name="events" value="{{ event.id }}" />
		</div>
		{% endfor %}
		<button>Done</button>
	</form>
{% endblock %}
