{% extends 'base.html' %}

{% block title %}
Sign Up (i)
{% endblock %}

{% block content %}
	<h1>Success!</h1>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul class="messages">
			{% for message in messages %}
				<li><p>! {{message}}</p></li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	<div class="box" action="/form/person" method="post">
		<p>
			Welcome, <b>{{ first_name }}</b>! Next, you need to choose your individual events.
			{% if team_name %}
			The leader of {{ team_name }} has chosen team events already.
			{% endif %}
		</p>
		<!-- todo: event entries -->
		<a href="/events"><button>Next</button></a>
	</div>
{% endblock %}
