{% extends 'base.html' %}

{% block title %}
Sign Up (i)
{% endblock %}

{% block content %}
	<h1>Success!</h1>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul class="messages">
			{% for message in messages %}
				<li><p>! {{message}}</p></li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	<div class="box" action="/form/person" method="post">
		<p>
			Welcome to <b>{{ team_name }}</b>, <b>{{ first_name }}</b>! Your teammates can use the code
			<b>{{ team_code }}</b> when they sign up to join. Next, you need to choose events.
		</p>
		<!-- todo: event entries -->
		<a href="/events"><button>Next</button></a>
	</div>
{% endblock %}
